loki:
  auth_enabled: false

  server:
    http_listen_port: 3100

  storage:
    type: azure
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
    azure:
      accountName: lokistorageganesh
      accountKey: 0fjAqnmiDwy3WQDEzmr8n/InYOM3zIiANAn6EXCb8bUSlEzWuS2rbnnI4uQLR0IAkjggrlwb9d+p+AStHlH4GA==
      

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: azure
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

gateway:
  enabled: true
  service:
    type: LoadBalancer
